<div class=" backo d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">ProxiBanque</h3>
</div>

<div class=" backg d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h6 class="my-0 mr-md-auto font-weight-normal">Vous etes actuellement sur une session Conseiller</h6>
</div>
<br>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Gestion clientele</h5>
    
    <nav class="my-2 my-md-0 mr-md-3">
        <button type="button" class="btn btn-dark" routerLinkActive="active" routerLink="/login">Deconnexion</button>
    </nav>

</div>
<br>
<p></p>
<div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm" #createClientForm="ngForm" novalidate>
            <h3 class="mb-3 text-center">Mise a jour Client</h3>

            <div class="form-group">


                <input type="hidden" [(ngModel)]="clientDetails.id" name="id" [value]="clientDetails.id"
                    class="form-control" placeholder="nom" #idclient>


                <input type="text" class="form-control" placeholder="Nom" [value]="clientDetails.lastname" required
                    [(ngModel)]="clientDetails.lastname" name="lastname" #lastname="ngModel">
                <div [hidden]="lastname.valid || lastname.pristine">Nom requis</div>


                <input type="text" class="form-control" placeholder="Prenom" [value]="clientDetails.firstname" required
                    [(ngModel)]="clientDetails.firstname" name="firstname" #firstname="ngModel">
                <div [hidden]="firstname.valid || firstname.pristine">Prenom requis</div>


                <input type="email" class="form-control" placeholder="Email" [value]="clientDetails.email" required
                    [(ngModel)]="clientDetails.email" name="email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine">Email requis</div>

                <input type="text" class="form-control" placeholder="Telephone" [value]="clientDetails.phoneNum"
                    required [(ngModel)]="clientDetails.phoneNum" name="phonenum" #phonenum="ngModel">
                <div [hidden]="phonenum.valid || phonenum.pristine">Numero de telephone requis</div>

                <input type="text" class="form-control" placeholder="Adresse" [value]="clientDetails.adress" required
                    [(ngModel)]="clientDetails.adress" name="adress" #adress="ngModel">
                <div [hidden]="adress.valid || adress.pristine">Adresse requise</div>

                <input type="text" class="form-control" placeholder="Code postal" [value]="clientDetails.postalCode"
                    required [(ngModel)]="clientDetails.postalCode" name="postalcode" #postalcode="ngModel">
                <div [hidden]="postalcode.valid || postalcode.pristine">Code postal requis</div>

                <input type="text" class="form-control" placeholder="Ville" [value]="clientDetails.city" required
                    [(ngModel)]="clientDetails.city" name="city" #city="ngModel">
                <div [hidden]="city.valid || city.pristine">Ville requise</div>

                <button class="btn btn-success btn-lg btn-block" [disabled]="!createClientForm.form.valid"
                    (click)="updateClient()">Mettre a jour Client</button>
                <button class="btn btn-warning btn-lg btn-block"
                    routerLink="/clients-list/{{clientDetails.idavisor}}">Retour a la liste des
                    clients</button>
            </div>
        </form>
    </div>
</div>