<div class=" backo d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">ProxiBanque</h3>
</div>

<div class=" backg d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h6 class="my-0 mr-md-auto font-weight-normal">Vous etes actuellement sur une session Conseiller</h6>
</div>

<nav class="my-2 my-md-0 mr-md-3">
    <button type="button" class="btn btn-dark" routerLinkActive="active" routerLink="/login">Deconnexion</button>
</nav>

<div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm" #updateAccountForm="ngForm" novalidate>
            <h3 class="mb-3 text-center">Editer un compte</h3>

            <div class="form-group">

                <input type="number" class="form-control" placeholder="Solde" [value]="accountDetails.sold" required
                    [(ngModel)]="accountDetails.sold" name="sold" #sold="ngModel">
                <div [hidden]="sold.valid || sold.pristine">Solde requis</div>

                <input class="form-control" placeholder="date de création" type="date"
                    [value]="accountDetails.openingDate" required [(ngModel)]="accountDetails.openingDate"
                    name="openingDate" #openingDate="ngModel">
                <div [hidden]="openingDate.valid || openingDate.pristine">Date d'ouverture requise</div>

                <button class="btn btn-success btn-lg btn-block" [disabled]="!updateAccountForm.form.valid"
                    (click)="updateAccount()">Update account</button>
                <button class="btn btn-warning btn-lg btn-block" routerLink="/accounts-list/{{accountDetails.idclient}}">Retour a la
                    des comptes</button>
            </div>
        </form>
    </div>
</div>