<div class=" backo d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">ProxiBanque</h3>
</div>

<div class=" backg d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h6 class="my-0 mr-md-auto font-weight-normal">Vous etes actuellement sur une session Conseiller : </h6>
</div>

<nav class="my-2 my-md-0 mr-md-3">
    <button type="button" class="btn btn-dark" routerLinkActive="active" routerLink="/login">Deconnexion</button>
</nav>
<div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm" #createClientForm="ngForm" novalidate>
            <h3 class="mb-3 text-center">Creer Client</h3>

            <div class="form-group">

                <input type="text" class="form-control" id="lastname" placeholder="nom" required
                    [(ngModel)]="clientDetails.lastname" name="lastname" #lastname="ngModel">
                <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">Nom requis</div>



                <input type="text" class="form-control" id="firstname" placeholder="prenom" required
                    [(ngModel)]="clientDetails.firstname" name="firstname" #firstname="ngModel">
                <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">Prenom requis</div>

                <input type="text" class="form-control" placeholder="telephone" required
                    [(ngModel)]="clientDetails.phoneNum" name="phonenum" #phoneNum="ngModel">
                <div [hidden]="phoneNum.valid || phoneNum.pristine" class="alert alert-danger">Numero de telephone
                    requis</div>

                <input type="email" class="form-control" placeholder="courriel" required
                    [(ngModel)]="clientDetails.email" name="email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email requis</div>

                <input type="text" class="form-control" placeholder="adresse" required
                    [(ngModel)]="clientDetails.adress" name="adress" #adress="ngModel">
                <div [hidden]="adress.valid || adress.pristine" class="alert alert-danger">Adresse requise</div>

                <input type="text" class="form-control" placeholder="ville" required [(ngModel)]="clientDetails.city"
                    name="city" #city="ngModel">
                <div [hidden]="city.valid || city.pristine" class="alert alert-danger">Ville requise</div>

                <input type="number" class="form-control" placeholder="code postal" required
                    [(ngModel)]="clientDetails.postalCode" name="postalcode" #postalcode="ngModel">

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block" (click)="createClient()"
                    [disabled]="!createClientForm.form.valid">Creer
                    Client</button>
                <button type="button" class="btn btn-warning btn-lg btn-block" routerLinkActive="active"
                    routerLink="/clients-list">Retour a
                    la liste clients</button>
            </div>

        </form>
    </div>
</div>