<div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm">
            <h3 class="mb-3 text-center">Creer Client</h3>

            <div class="form-group">
                <input type="text" [(ngModel)]="clientDetails.lastname" name="lastname" class="form-control"
                    placeholder="nom">



                <input type="text" [(ngModel)]="clientDetails.firstname" name="firstname" class="form-control"
                    placeholder="prenom">

                <input type="text" [(ngModel)]="clientDetails.phonenum" name="phonenum" class="form-control"
                    placeholder="téléphone">


                <input type="email" [(ngModel)]="clientDetails.email" name="email" class="form-control" placeholder="courriel">

                <input type="text" [(ngModel)]="clientDetails.adress" name="adress" class="form-control" placeholder="adresse">


                <input type="text" [(ngModel)]="clientDetails.city" name="city" class="form-control" placeholder="ville">


                <input type="number" [(ngModel)]="clientDetails.postalcode" name="postalcode" class="form-control"
                    placeholder="code postal">




                <button type="submit" class="btn btn-success btn-lg btn-block" (click)="createClient()">Creer Client</button>
            </div>
        </form>
    </div>
</div>