<div class="container custom-container">
    <div class="col-md-12">


        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{advisorDetails.firstname}} {{advisorDetails.lastname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Login</h6>
                <p class="card-text">{{advisorDetails.login}}</p>
                <button class="btn btn-warning mr-1" routerLink="/advisor-edit/{{advisorDetails.id}}">Editer</button>
                <button class="btn btn-primary mr-1" (click)="gotoList()">Retour a la liste des conseillers</button>
            </div>
        </div>


    </div>
</div>