<div class=" backo d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">ProxiBanque</h3>
</div>

<div class=" backg d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h6 class="my-0 mr-md-auto font-weight-normal">Vous etes actuellement sur une session conseiller</h6>
</div>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Gestion clientele</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-info" routerLinkActive="active" routerLink="/create-client/{{idadvisor}}">Creer un Client</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <button type="button" class="btn btn-dark" routerLinkActive="active" routerLink="/login">Deconnexion</button>
    </nav>

</div>



<div class="container custom-container-2">


    <div class="no-data text-center" *ngIf="client.length == 0">
        <p>Il n'y a pas encore de clients</p>
        <button class="btn btn-info" routerLink="/create-client/{{idadvisor}}">Ajouter un client</button>
    </div>

    <div *ngIf="client.length !== 0">
        <h3 class="mb-3 text-center">Liste des clients</h3>

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of client">
                        <td>{{c.id}}</td>
                        <td>{{c.lastname}}</td>
                        <td>{{c.firstname}}</td>
                        <td>{{c.phoneNum}}</td>
                        <td> {{c.email}}</td>
                        <td>
                            <button class="btn btn-info mr-1" routerLink="/client-show/{{c.id}}">Afficher</button>
                            <button class="btn btn-info mr-1" routerLink="/client-edit/{{c.id}}">Editer</button>
                            <button class="btn btn-info mr-1" routerLink="/accounts-list/{{c.id}}">Liste des
                                comptes</button>
                            <button class="btn btn-danger" (click)="deleteClient(c.id)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>