<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Identification</label>
    <input type="email" class="form-control w-75 mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter login">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1 " class="password">Mot de Passe</label>
    <input type="password" class="form-control w-75 mx-auto" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    
    
  </div >
  <button type="submit" class="btn btn-primary" routerLinkActive="active" routerLink="/clients-list">Connexion</button>
</form>