<!-- <nav>
<a class="btn btn-warning" routerLinkActive="active" routerLink="/create-client">Create client</a>
<button type="button" class="btn btn-info" routerLinkActive="active" routerLink="/clients-list">Clients list</button>
</nav> -->

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Bienvenue Chez PROXIBANQUE</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <button type="button" class="btn btn-dark" routerLinkActive="active" routerLink="/login">Log out !</button>
    </nav>

</div>

<!-- <app-client-create></app-client-create>

<app-client-edit></app-client-edit>

<app-client-list></app-client-list> -->

<!-- <app-client-show></app-client-show> -->

<router-outlet></router-outlet>